body {
  background: #333333;
  font-family: 'Exo 2', sans-serif;
}

core-toolbar {
  background: #0066F5;
  height: 100px;

}

core-toolbar h1 {
  color: white;
  font-size: 30px;
  font-weight: 300;
  }