:host {
  display: block;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

core-toolbar {
  background: #0066F5;
  height: 100px;
  text-align: center;

}

core-toolbar h1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
  line-height: 16px;
  }



 .titleadd {
  color: rgba(255,255,255,0.25);
 	text-transform: uppercase;
 }

 .red {
 	color: orange;
 }

 p {
 	text-transform: uppercase;
 	color: white;
  font-weight: 500;
 	line-height: 8px;
 	font-size: 12px;
 }

#gamescenes {
	  background: #0066F5;
}
