:host {
  display: block;
}

body {
  font-family: 'Exo 2', sans-serif;
}

core-toolbar {
  background: #333333;
  text-align: center;
  min-height: 120px;
}

core-toolbar h1 {
  color: white;
  margin: 10px auto;
  font-size: 40px;
  font-weight: 800;
  line-height: 16px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}

.titels {
  display: block;
}


 .titleadd {
  color: rgba(255,255,255,0.15);
 	text-transform: uppercase;
  font-size: 40px; 
  text-shadow: none;
  display: block;

/*  transition:All 5s ease;
-webkit-transition:All 5s ease;
-moz-transition:All 5s ease;
-o-transition:All 5s ease;

transform: translate(10px);
-webkit-transform: translate(10px);
-moz-transform: translate(10px);
-o-transform: translate(10px);
-ms-transform: translate(10px);*/

 }

 .red {
 	color: orange;
 }

 p {
 	text-transform: uppercase;
 	color: white;
  font-weight: 500;
 	line-height: 8px;
 	font-size: 12px;
  margin-top: 25px;
 }

#gamescenes {
	  background: #333333;
}
