:host {
  display: block;
  width: 90%;
}


.gameitem {
  background-color: #4D4D4D;
  padding: 20px;
  margin: 10px 10px 0px 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.10);
  color:white;
  font-family: 'Exo 2', sans-serif;
}

.ploeg {
	font-size: 16px;
  font-weight: 400;
  color:#CCCCCC;
}

.score {
  font-size: 26px;
  font-weight: 800;
}
