:host {
  display: block;
  background: white;
  width: 90%;
  margin-top: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.10);
  
}

.ploeg {
	width: 34%;
	font-size: 11px;
  word-wrap: break-word;
}

.score {
	width: 14%;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.streep {
	width: 4%;
	text-align: center;
}



h1 {
  color: black;
  font-size: 30px;
  font-weight: 300;
  }




/*.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}*/