:host {
  display: block;
}

/*.catcontainer {
	margin-top: 20px;
}
*/

.titleadd {
  color: rgba(255,255,255,0.25);
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0px 10px 0px;
 }

 .red {
 	color: #0066F5;
  font-weight: 600;
  font-size: 13px;
  margin: 20px 0px 30px 0px;

 }
